dataset/
cloud/submodules/DPT/
cloud/submodules/Depth-Anything-V2/
*__pycache__/
*.pyc
.vscode
output/
build/
*tensorboard_3d
*screenshots
requirements.txt
LICENSE_h-3dgs.md
videoProcess/
delete
docker_run.sh

# client/run.sh
# cloud/run.sh
# train/run.sh
# train/train.sh
# docker_run.sh