DATASET="/workspace/data"
RECTIFIED="${DATASET}/camera_calibration/rectified"
CONDA_NAME="3dgs"

PROJECT="/workspace/code"
CODE="${PROJECT}/client"
VIEWPOINT_PATH="${PROJECT}/dataset/viewpoints.txt" 

SOURCES=("${PROJECT}/hierGL" "${PROJECT}/flashTreeTraversal")
TARGETS=("fast_hier" "flashTreeTraversal") 
REBUILD=1 

# Taus=(0.0 3.0 6.0 9.0 12.0 15.0) 
TAU=6.0 
LOGS_DIR="${PROJECT}/dataset/logs/client"

PYTHON_FILE="client.py" 
ARGS=( 
    --images "${RECTIFIED}/images" 
    --alpha_masks "${RECTIFIED}/masks" 
    --viewpointFilePath "${VIEWPOINT_PATH}" 
    --log_dir "${LOGS_DIR}" 
    --render_dir "${RENDERS}/${tau}" 
    --taus "${TAU}" 
    --ip "127.0.0.1" 
    --port 40000 
    --frustum_culling 
    --local 
    --eval
) 
mkdir -p "${LOGS_DIR}" 
mkdir -p "${RENDERS}/${tau}" 

# DEBUG=(compute-sanitizer --launch-timeout 5000 --target-processes all)